.a-button {
  border-radius: var(--border-radius);
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
  &--navbar {
    color: var(--color-gris-oscuro);
    &:hover {
      color: var(--color-rojo);
    }
  }
}
