/*=============================================
=                  RESET                       =
html tags
=============================================*/
* {
  border: 0;
  margin: 0;
  padding: 0;
  &::selection {
    background: none;
    color: inherit;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
//CSS Vars
//Uso algunas variables css para cosas que quisiera poder modificar desde el inspector del navegador,
//Además las variables css permiten el uso de mediaquerys
:root {
  --color-blanco: #{$color-blanco};
  --color-gris-oscuro: #{$color-gris-oscuro};
  --color-rojo: #{$color-rojo};

  --fuente-principal: #{$fuente-principal};

  --border-radius: #{$border-radius};
}
html {
  position: relative;
  min-width: 100%; //Esto ayuda a usar medidas relativas como rem, asi 1 rem es igual a 10px;
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var(--color-blanco);
  font-family: var(--fuente-principal);
  font-size: 1.6rem;
  font-size: 16px;
  letter-spacing: 0.3px;
  height: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--fuente-principal);
  color: var(--color-gris-oscuro);
  font-size: 1.45rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.3s;
  &:hover {
    color: var(--color-rojo);
  }
}
button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fuente-principal);
  margin: 0;
}
p {
  font-weight: 400;
  margin: 0;
}
/*=====  End of RESET                  ======*/
